.fondo{
  height: 95vh;
  background-image: url(https://img.freepik.com/foto-gratis/libros-repisa_23-2147711744.jpg?w=1380&t=st=1677506917~exp=1677507517~hmac=9fe3252c2c9d449bebbacf567df37274db6a29fdfa32a901aae22b45266da1ec);
  background-repeat: no-repeat;
  background-size: cover;
}

.contenedorprincipal{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:2px;
  padding: 5%;
}
.container {
  
  width: 30%;
  height: 600px;
  background: rgba(48, 83, 46, .5);
  padding: 2rem;
  border-radius: 8px;
  transition: all .25s ease-in-out;
  
}



.container:hover {
  box-shadow: 0 4px 50px #00000020;
}

.container:hover .card {
  transform: translateY(-5%);
}

.info {
  margin-top: 2rem;
  margin-bottom: 4%;
  
}

.info h2, p {
  color: #fff;
  text-align: center;
}

.card {
  transition: all .25s ease-in-out;
  display: flex;
  justify-content: center;
}

.card input {
  display: none;
}

.card main {
  position: relative;
}

.card main a svg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgb(34, 131, 55);
}


.card main a:hover::after {
  opacity: 1;
}

.card main a::after {
  content: "Change";
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0px;
  bottom: 0px;
  background-image: linear-gradient(transparent 0%, rgba(35, 192, 145, 0.584) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
  padding-bottom: 1rem;
}
.tarjeta{
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4%;

}
.formtarjeta{
  display: flex;
  
  
}

input{
  width: 80%;
  height: 10%;
  display: flex;
  align-content: space-between;
  padding: 4%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: none;
  opacity: 80%;
  
}

label{

  color: white;
  font-weight: bold;
}


.form button {
  align-self: flex-end;
}

.submit, button {
  border: none;
  outline: none;
  width: 100%;
  padding: 16px 10px;
  background-color: rgb(247, 243, 243);
  border-radius: 10px;
  box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.015),100px 100px 80px rgba(0, 0, 0, 0.03);
}

button {
  margin-top: 12px;
  background-color:  rgba(52, 153, 47, .7);
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
