<div class="fondo">
  <div id='search-box'>
    <form action='/search' id='search-form'>
    <input #search id='search-text' name='q' placeholder='Escribe lo que buscas' type='text' />
    <button id='search-button' type='button'(click)="searchBook(search.value)"><span>Buscar</span></button>
    </form>
    </div>
  <div class="contenedorCards">
    <div class="showBooks" *ngIf="Books.length === 0; else showBooks">
      No hay libros disponibles
    </div>

    <ng-template #showBooks>
    
      <ng-container *ngFor="let book of Books; let par = even">

        <app-card [cardbook] = "book" [parHijo] = "par" (eventoBoton)="recoger($event)"></app-card>
        

      </ng-container>


    </ng-template>
  </div>

</div>
