<div class="fondo">
  <div class="contenedorCards">
    <div class="showBooks" *ngIf="Books.length === 0; else showBooks">
      No hay libros disponibles
    </div>

    <ng-template #showBooks>
    
      <ng-container *ngFor="let book of Books; let par = even">

        <app-card [cardbook] = "book" [parHijo] = "par" (eventoBoton)="recoger($event)"></app-card>
        

      </ng-container>


    </ng-template>
  </div>

  <div class="contenedorform">
    <form class="form">
      <span class="title">Añadir libro</span>
      <input type="text" class="input" placeholder="Titulo" #input1/>
      <input type="text" class="input" placeholder="tapa blanda/dura" #input2/>
      <input type="text" class="input" placeholder="autor" #input3 />

      <input type="texto" class="input" placeholder="precio" #input4/>
      <input type="texto" class="input" placeholder="url" #input5/>
      <input type="texto" class="input" placeholder="referencia" #input6/>
      <button (click)= "enviar(input1.value,input2.value,input3.value,input4.value,input5.value,input6.value)"   type="button">Insertar Libro</button>
    </form>
  </div>
</div>
