
<div class="padre">
  <form class="form">
    <span class="title">Registrate</span>
   <input id="file" type="file">
      <input type="text" class="input" placeholder="nombre">
      <input type="text" class="input" placeholder="Apellidos">
      <input type="email" class="input" placeholder="email">
      
      <input type="password" class="input" placeholder="contraseña"> 
      <input type="email" class="input" placeholder="Repetir contraseña">
      <button>Registrate</button>
  </form>

</div>

